body{
  background: hsla(250, 32%, 18%, 1);
  /* background: radial-gradient(circle, hsla(278, 37%, 29%, 1) 0%, hsla(250, 32%, 18%, 1) 80%);

background: -moz-radial-gradient(circle, hsla(278, 37%, 29%, 1) 0%, hsla(250, 32%, 18%, 1) 80%);

background: -webkit-radial-gradient(circle, hsla(278, 37%, 29%, 1) 0%, hsla(250, 32%, 18%, 1) 80%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#502E64", endColorstr="#241F3C", GradientType=1 ); */
}
.banner{
  width: 100%;
  height: 100vh;
  /* background:linear-gradient(rgba(36, 31, 61, 0.5), rgba(15, 13, 25, 0.9)),url('./assets//banner.png'); */
  background-size: cover;
  margin: 0;
  background-attachment: fixed;

}

.hero-text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;

}
.banner-text{
  width: 60%;
  color: #fff;
  display: flex;
  flex-direction: column;

  justify-content: center;


}
.full-round-btn{
  background: hsla(257, 56%, 61%, 1);

background: linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8263D3", endColorstr="#AD66D3", GradientType=1 );
    border: none;
    padding: 15px;
    border-radius: 30px;
    color: #fff;
    width: 250px;
    font-family:system-ui;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.fade{
  position :absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(36, 31, 61, 0.0), 
                    rgb(36, 31, 61) 90%);
  width    : 100%;
  height   : 8em;
  
}
.container{
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.card{
  width: 260px;
  border: 1px solid hsla(257, 56%, 61%, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
  color: #fff;
  margin: 20px;

}
.card-dark{
  background: #1b1822;
  border: none;
}
.card h3{
  font-family: system-ui;
  color: #fff;
  font-size: larger;
  font-size: 30px;
}
.card-icon{
  height: 50px;
  width: 50px;
  border: 1px  solid #fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rot 1s ease-in;
}
.icondark{
  background: hsla(257, 56%, 61%, 1);

background: linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8263D3", endColorstr="#AD66D3", GradientType=1 );
border: none;
}
.box{
  background:-moz-radial-gradient(circle at 50% 46%, rgba(98, 56, 120, 1) 0%, rgba(36, 31, 61, 1) 40%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 50% 46%, rgba(98, 56, 120, 1) 0%, rgba(36, 31, 61, 1) 40%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 50% 46%, rgba(98, 56, 120, 1) 0%, rgba(36, 31, 61, 1) 40%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 50% 46%, rgba(98, 56, 120, 1) 0%, rgba(36, 31, 61, 1) 40%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 50% 46%, rgba(98, 56, 120, 1) 0%, rgba(36, 31, 61, 1) 40%);

}
/* 36,31,61 */
.design-cards{
  height: 300px;
  width: 600px;
  border-radius:20px;
  border: 1px solid rgba(145, 144, 144, 0.24);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 10px;
}
.design-cards img{
  height: 100%;
  width: 100%;
  border-radius:20px;
}
.heading-text{
   padding-top: 50px;
   margin-top: 0;
  text-align: center;
  color: #fff;
}
.poly-line{
  height: 4px;
  width: 30px;
  background: linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);
  border-radius: 20px;
  margin: auto;
  animation: wide 1s ease;
}
.vertical-line{
  margin: auto;
  height: 810px;
  width: 10px;
  background: linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);
   border-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bullet{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}


.sub-bullet{
  border-radius: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);
  width: 10px;
  height: 10px;
}
@keyframes wide {
  0%{
    width: 1px;
  }
  100%{
    width: 30px;
  }
  
}
@keyframes rot {
  0%{
    transform: rotate(40deg);
  }
  100%{
    transform: rotate(0deg);
  }
  
}
.time-life-containers{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.life-box{
  margin-bottom: 0;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  background:#1e1b23;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.faded-bullet{
  background: linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);
  transform: scale(10);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation: fader 1.5s linear infinite;
  opacity: 0;

}

@keyframes fader {
0%{
  transform: scale(0);
  opacity: 1;
}  
100%{
  transform: scale(5);
  opacity: 0.5;
}}
.pointer{
  margin: 0;
  margin-top: -9px;
  height: 20px;
  width: 20px;
  clip-path: polygon(52% 76%, 13% 43%, 91% 43%);
  background:#1e1b23;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}
.service-card{
  width: 350px;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  background: #1b1822;
  border-radius: 15px;
  color: #fff;
  margin: 20px;
}
.service-card img{
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.project-info{
  padding: 20px;
  
}
.project-info a{
  padding: 15px;
  border-radius: 30px;
  margin-top: 10px;
  background: linear-gradient(135deg, hsla(257, 56%, 61%, 1) 0%, hsla(279, 55%, 61%, 1) 100%);
  border: 1px solid hsla(257, 56%, 61%, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project{
  background:radial-gradient(circle at 0% 100%, rgba(98, 56, 120, 1) 0%, rgba(36, 31, 61, 1) 40%);
}
.education{
  background:radial-gradient(circle at 0% 0%, rgba(98, 56, 120, 1) 0%, rgba(36, 31, 61, 1) 40%);
}
.main-hero-text{
  /* style={{padding:'20px',marginLeft:'30px',width:'60%'}} */
  padding: 20px;
  margin-left: 30px;
  width: 60%;
}
.hidden{
 opacity: 0;
 transition: all 5s;
}
.show{
  opacity: 1;
  transition: all 5s;
}
.unView{
  transform: translate(-300px);
  transition: all 2s;
}
.view{
  transform: translate(0px);
  transition: all 1s;
  
}
.bottom{
 
  transform: translateY(200px);
  opacity: 0;
}
.top{
  transition: all 1s;
  transform: translateY(0px);
  opacity: 1;
}
.top:nth-child(1){
  transition-delay: 0s;
}
.top:nth-child(2){
  transition-delay: 0.3s;
}
.top:nth-child(3){
  transition-delay: 0.5s;
}
@media screen and (max-width:800px) {

  .hero-text{
  font-size: 40px;
}
.banner-text{
  width: 100%;
}
.banner{
  background-color: #1b1822;
  /* background:linear-gradient(rgba(36, 31, 61, 0.5), rgba(15, 13, 25, 0.9)),url('./assets//IMG_0441\ \(1\).png'); */
  height: 100vh;
  background-size:400px;
  background-repeat: no-repeat;
  background-position: center
}
}
.contact{
  padding: 50px;
  padding-top: 100px;
  background: #1b1822;
  margin-top: 10px;
}
.fields-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reach-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
}
.contact-info{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  
}
.contact-info p{
 margin-left: 5px;
}
.social-links{
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
.nav-bar{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}