@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Caveat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  color: rgb(185, 185, 185);
}
a{
  text-decoration: none;
  color: #fff;
  
}
button{
  z-index: 20;
}
label{
  color: #fff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-left: 5px;
}
input,textarea{
  padding:15px;
  border-radius: 10px;
  border: 1px solid rgb(135, 110, 200);
  background: hsla(250, 32%, 18%, 1);
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  margin: 5px;
 

}
input::placeholder{
  color: rgb(130, 128, 128);
  font-weight: 700;
}
:placeholder-shown{
  color: rgb(130, 128, 128);
  font-weight: 500;
}
@media screen and (max-width:800px) {
  input{
    width: 100%;
  }
}
::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: hsla(250, 32%, 18%, 1);
}

::selection {
  color: rgb(255, 255, 255);
  background: hsla(250, 32%, 18%, 1);
}
::-webkit-scrollbar{
  background-color: rgb(255, 255, 255);
  width: 10px;

}
::-webkit-scrollbar-button{
  background-color: hsla(250, 32%, 18%, 1);
}
::-webkit-scrollbar-track{
  background: #1b1822;
}
::-webkit-scrollbar-thumb{
  background: rgb(74, 72, 72);
  border-radius: 10px;

}